<header class="col-12" style="background-color: #333; padding: 10px">
  <div class="container-fluid">
    <div
      class="row align-items-center d-flex flex-nowrap justify-content-between"
    >
      <div class="col-lg-3 col-md-4 col-6">
        <img
          src="./../../../../assets/logos/letras lado logo.png"
          alt="Logo grande"
          class="img-fluid d-none d-md-block d-lg-block"
        />
        <img
          src="./../../../../assets/logos/logo.png"
          alt="Logo pequeño"
          class="img-fluid d-block d-md-none"
        />
      </div>
      <div class="col-lg-9 col-md-8 col-4 mt-6">
        <app-nav-bar></app-nav-bar>
      </div>
    </div>
  </div>
</header>
