<header class="col-12">
  <div class="container-fluid">
    <div class="row align-items-center d-flex flex-nowrap justify-content-between">
      <div class="col-lg-3 col-md-4 col-6">
        <img
          src="./../../../../assets/logos/letras lado logo.png"
          alt="logo pagina letras lado derecho"
          class="img-fluid"
          id="logo"
        />
      </div>
      <div class="col-lg-9 col-md-8 col-4 mt-6">
        <app-nav-bar></app-nav-bar>
      </div>
    </div>
  </div>
</header>
