@import "./../../../../assets/styles/colors";

.turnus-header {
  background-color: $gris-oscuro;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container-fluid {
    max-width: 1225px;
    margin: 0 auto;
  }


}
