
<div [style.background-color]="equipo.PrimaryColor" class="header">
  <img [src]="equipo.WikipediaLogoUrl" alt="Logo" class="logo">
  <h2>{{ equipo.Name }}</h2>
  <p>{{ equipo.City }}</p>
<!-- </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Posición</th>
      <th>Número</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of jugadores">
      <td>{{ jugador.Nombre }}</td>
      <td>{{ jugador.Posicion }}</td>
      <td>{{ jugador.Numero }}</td>
    </tr>
  </tbody>
</table> -->
