<div class="cnt-equipo" *ngIf="equipo!=undefined && estadisticasEquipo!=undefined && stadium!=undefined">
  <div class="cnt-info d-flex align-items-center mt-5 mx-auto p-2">
    <div class="cnt-logo col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">
      <img [src]="equipo.WikipediaLogoUrl" alt="Logo" class="logo" height="150px" width="150px">
    </div>
    <div class="cnt-data col-lg-9 col-md-9 col-sm-12">
      <div class="d-flex align-items-center">
        <div class="cnt-name">
          <h2>{{ equipo.City }} {{ equipo.Name }}</h2>
        </div>
        <div class="mx-3">{{estadisticasEquipo.Wins}} <strong>W</strong> - {{estadisticasEquipo.Losses}}
          <strong>L</strong></div>
        <div class="col">{{equipo.Division}} {{ equipo.Conference }}</div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6 col-md-6 col-sm-12"><strong>Head Coach:</strong> {{equipo.HeadCoach}}</div>
        <div class="col-lg-6 col-md-6 col-sm-12"><strong>Address:</strong> {{stadium.Name}} {{stadium.Address}}
          {{stadium.City}}, {{stadium.State}}</div>
      </div>
    </div>
  </div>

  <div class="cnt-stats d-flex mx-auto justify-content-start align-items-center p-4">
    <h2 class="cnt-name col-lg-3 col-md-3 col-sm-12 d-flex justify-content-center">2022-23 Stats:</h2>
    <div class="cnt-stats-data col-lg-9 col-md-9 col-sm-12">
      <h3 class="stat-item">{{getStats('Points') | number : ".1-1"}} PPG</h3>
      <h3 class="stat-item">{{getStats('Assists') | number : ".1-1"}} APG</h3>
      <h3 class="stat-item">{{getStats('Rebounds') | number : ".1-1"}} RPG</h3>
      <h3 class="stat-item">{{getStats('Steals') | number : ".1-1"}} SPG</h3>
      <h3 class="stat-item">{{getStats('BlockedShots') | number : ".1-1"}} BPG</h3>
    </div>
  </div>

  <div class="ctn-players"></div>
</div>
