<div class="container tarjeta">
  <div><h1 class="display-2">Puntos por partido</h1></div>
  <hr>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col"><h3>1</h3></div>
    <div class="col"><img width="50px" src="https://sports.cbsimg.net/fly/images/nba/logos/team/353.svg" alt="logo"></div>
    <div class="col"><p class="m-0"><strong>Devin Booker</strong></p><p><strong>PHO · SG · 1</strong></p></div>
    <div class="col"><p class="m-0"><strong>34</strong></p><p><strong>PPG</strong></p></div>
  </div>



  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <td>Rank</td>
        <td>Team</td>
        <td>Player</td>
        <td>PPG</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2</td>
        <td><img width="30px" src="https://sports.cbsimg.net/fly/images/nba/logos/team/353.svg" alt="logo">LAL</td>
        <td>Player</td>
        <td>PPG</td>
      </tr>
      <tr>
        <td>3</td>
        <td><img width="30px" src="https://sports.cbsimg.net/fly/images/nba/logos/team/353.svg" alt="logo">TOR</td>
        <td>Player</td>
        <td>PPG</td>
      </tr>
      <tr>
        <td>4</td>
        <td><img width="30px" src="https://sports.cbsimg.net/fly/images/nba/logos/team/353.svg" alt="logo">WAS</td>
        <td>Player</td>
        <td>PPG</td>
      </tr>
      <tr>
        <td>5</td>
        <td><img width="30px" src="https://sports.cbsimg.net/fly/images/nba/logos/team/353.svg" alt="logo">SAC</td>
        <td>Player</td>
        <td>PPG</td>
      </tr>
    </tbody>
  </table>

  <div>Ver todo</div>
</div>
