<div class="tarjeta mx-auto" *ngIf="datosCargados">
  <div>
    <h3 class="display-3">{{ titulo }}</h3>
  </div>
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-1">
      <h3>1</h3>
    </div>
    <div class="col-5">
      <p class="m-0">
        <strong>{{ mejorJugador.Position }} · {{ mejorJugador.Name }}</strong>
      </p>
    </div>
    <div class="col-2 d-flex align-items-end">
      <img width="50px" height="50px" src="{{ logoEquipo(mejorJugador) }}" alt="logo" />
    </div>
    <div class="col-2">
      <p class="m-0">
        <strong>{{ getStats(mejorJugador) | number : ".1-1" }}</strong>
      </p>
    </div>
    <div class="col-2">
      <p class="m-0">
        <strong>{{ titulo.charAt(0) }}PP</strong>
      </p>
    </div>
  </div>
  <table class="table  table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Equipo</th>
        <th scope="col">Media</th>
        <th scope="col">{{ titulo.charAt(0) }}PP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of top5; let i = index">
        <td scope="row">{{ i+2 }}</td>
        <td>{{ jugador.Name }}</td>
        <td>
          <div class="d-flex align-items-center">
            <img width="30px" height="30px" src="{{ logoEquipo(jugador) }}" alt="logo" />
            <p>{{ siglasEquipo(jugador) }}</p>
          </div>
        </td>
        <td>{{ getStats(jugador) | number : ".1-1" }}</td>
        <td>{{ titulo.charAt(0) }}PP</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <p routerLink="/stats/jugadores" routerLinkActive="active">Ver todo</p>
  </div>
</div>
