@import './../../../assets/styles/colors';
.btn-outline-primary {
  background-color: $gris-oscuro;
  color: #0d9eff;
  border-color: $azul-oscuro;
}

.btn-primary {
  background-color: $gris-oscuro;
  border-color: $azul-oscuro;
}

h1,
.card-title {
  font-weight: 600;
  color: $gris-oscuro;
}
.card-text {
  color: $gris-oscuro;
}
.card {
  background-color: $gris-oscuro;
}

@media (max-width: 767px) {
  .card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
