<div class="container">
  <div class="carousel">
    <div class="row align-items-center">
      <div class="col-md-2">
        <button aria-label="boton atras" class="carousel-button" (click)="previousPhoto()">
          <i class="bi bi-arrow-left-circle"></i>
        </button>
      </div>
      <div class="col-md-8 carousel-container">
        <div class="mb-3 carousel-item" *ngFor="let photo of photos; let i = index" [class.active]="currentIndex === i">
          <div class="cnt-carousel">
            <div class="cnt-img">
              <img class="fixed-height-image" [src]="photo.url" alt="{{ photo.title }}">
            </div>
            <div class="title-container mt-1 ml-3">
              <div class="cnt-title">
                <h2>{{ photo.title }}</h2>
              </div>
              <div class="cnt-info mb-2">
                <h3 *ngIf="photo.subtitle">{{ photo.subtitle }}</h3>
                <p class="details mb-2">{{ photo.details }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-2 mt-3">
        <button aria-label="boton atras" class="carousel-button" (click)="nextPhoto()">
          <i class="bi bi-arrow-right-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
