.carousel {
  text-align: center;
}

.carousel-container {
  position: relative;
  height: 400px;
}

.carousel-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: auto;
}

.fixed-height-image {
  height: 400px;
  object-fit: contain;
}

.carousel-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-button i {
  font-size: 24px;
}

.carousel-button:hover {
  background: linear-gradient(to right, #1565C0, #2d4f75);
  transform: scale(1);
}

.cnt-carousel {
  display: flex;
  flex-direction: row;
}

.title-container {
  width: 350px;
  background-color: #333333;
  color: #fff;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
}

.cnt-title {
  color: #fff;
  font-family: 'Bolder';

}

.cnt-info {
  color: #a0a0a0;
}

.cnt-info h3 {
  color: #76b2ed;
}

@media (max-width: 1200px) {
  .fixed-height-image {
    height: 250px;
    object-fit: contain;
  }

  .cnt-carousel {
    display: flex;
    flex-direction: column;
  }

  .carousel-cnt-items {
    display: flex;
    flex-direction: column;
  }

  .title-container {
    height: 160px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .title-container .details {
    font-size: 10px;
  }

  .cnt-info {
    padding-bottom: 10px;
  }

  .carousel-button {
    display: none;
  }
}
