<form class="d-flex flex-wrap" #form="ngForm">
  <app-select
    class="form-control"
    [options]="conferences"
    class="flex"
    name="conference"
    [(ngModel)]="conf"
    placeholder="Conference"
    (ngModelChange)="selectedConf()"
  >
  </app-select>
  <app-select
    class="form-control"
    [options]="positions"
    class="flex"
    name="posicion"
    [(ngModel)]="pos"
    placeholder="Position"
    (ngModelChange)="selectedPos()"
  >
  </app-select>
  <app-select
    class="form-control"
    [options]="categories"
    class="flex"
    name="categoria"
    [(ngModel)]="cat"
    placeholder="Orden By"
    (ngModelChange)="selectedCat()"
  >
  </app-select>
  <app-select
    class="form-control"
    [options]="elegible"
    class="flex"
    name="categoria"
    [(ngModel)]="apto"
    placeholder="Qualifies"
    (ngModelChange)="selectedApto()"
  >
  </app-select>
</form>
