@import "./../../../../assets/styles/colors";

.navbar-toggler-right {
  margin-left: auto;
}

.fixed-position {
  position: fixed;
  top: 90px;
  right: 40px;
  background-color: #fff;
  padding: 4px 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.turnus-navbar {
  font-family: 'Bold';
  background-color: $gris-oscuro;
  font-size: 26px;

  .large {
    color: white;
  }
  .large:hover{
    background-color: $azul-logo;
    border-radius: 15px;
  }

  .small {
    font-size: 16px;
    color: $gris-claro;
  }

  .navbar-toggler {
    border-color: transparent;
    color: $gris-oscuro;
    background-color: $gris-claro;
  }

  .navbar-toggler:hover,
  .navbar-toggler:focus {
    color: $azul-medio;
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
