<nav class="navbar navbar-expand-lg navbar-light  mb-3">
  <div class="container-fluid">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      style="margin-left: auto"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" bg-light class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            (click)="isMenuCollapsed = true"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mejores/jugadores"
            (click)="isMenuCollapsed = true"
            >Mejores Jugadores</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mejores/equipos"
            (click)="isMenuCollapsed = true"
            >Mejores equipos</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            routerLink="/stats/jugadores"
            (click)="isMenuCollapsed = true"
            >Todos los jugadores</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/stats/equipos"
            (click)="isMenuCollapsed = true"
            >Todos los equipos</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
