<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="container-fluid">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      style="margin-left: auto"
    >
      &#9776;
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      [animation]="false"
      [ngClass]="{ 'fixed-position': !isMenuCollapsed }"
      bg-light
      class="collapse navbar-collapse"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            (click)="isMenuCollapsed = true"
          >
            <i class="bi bi-house px-2" *ngIf="!isMenuCollapsed"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mejores/jugadores"
            (click)="isMenuCollapsed = true"
          >
            <i class="bi bi-award px-2" *ngIf="!isMenuCollapsed"></i>
            Mejores Jugadores
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/mejores/equipos"
            (click)="isMenuCollapsed = true"
          >
            <i class="bi bi-trophy px-2" *ngIf="!isMenuCollapsed"></i>
            Mejores Equipos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/stats/jugadores"
            (click)="isMenuCollapsed = true"
          >
            <i class="bi bi-people px-2" *ngIf="!isMenuCollapsed"></i>
            Todos los Jugadores
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/stats/equipos"
            (click)="isMenuCollapsed = true"
          >
            <i class="bi bi-list-stars px-2" *ngIf="!isMenuCollapsed"></i>
            Todos los Equipos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
