<div class="d-flex flex-wrap justify-content-center">
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[0] categoria='Points'></app-card>
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[1] categoria='Rebounds'></app-card>
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[2] categoria='Assists'></app-card>
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[3] categoria='Steals'></app-card>
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[4] categoria='BlockedShots'></app-card>
  <app-card class="w-30 m-3" [equipos]="equipos" [titulo]=titulos[5] categoria='Minutes'></app-card>
</div>
