<div class="d-flex flex-column justify-content-center">
  <div class="table-responsive">
    <table class="table table-bordered table-lg">
      <thead>
        <th>Name</th>
        <th (click)="toggle('Games')">
          Games
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('Minutes')">
          Minutes
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('Points')">
          Points
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('Rebounds')">
          Rebounds
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('Assists')">
          Assists
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('Steals')">
          Steals
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
        <th (click)="toggle('BlockedShots')">
          Blocks
          <img width="35" height="35" src="https://img.icons8.com/pastel-glyph/64/sorting-arrows--v1.png"
            alt="sorting-arrows--v1" />
        </th>
      </thead>
      <tr *ngFor="let jugador of jugadoresFiltrados | paginate : { itemsPerPage: 20, currentPage: p }
        ">
        <td class="p-2 fs-4">{{ jugador.Name }}·{{ jugador.Position }}·{{ jugador.Team }}</td>
        <td class="p-2 fs-4">{{ jugador.Games | number:".0-0"}}</td>
        <td class="p-2 fs-4">{{ jugador.Minutes  | number:".0-0" }}</td>
        <td class="p-2 fs-4">{{ jugador.Points  | number:".0-0" }}</td>
        <td class="p-2 fs-4">{{ jugador.Rebounds  | number:".0-0" }}</td>
        <td class="p-2 fs-4">{{ jugador.Assists   | number:".0-0"}}</td>
        <td class="p-2 fs-4">{{ jugador.Steals  | number:".0-0" }}</td>
        <td class="p-2 fs-4">{{ jugador.BlockedShots  | number:".0-0" }}</td>
      </tr>
    </table>
  </div>

  <div class="pagination">
    <pagination-controls class="mx-auto" (pageChange)="p = $event">
    </pagination-controls>
  </div>
</div>
