@import "~bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}

body {
  font-family: 'MyCustomFont';
}

html,
body {
  margin: 0;
  padding: 0;
  touch-action: pan-x pan-y;
  user-scalable: no;


}
