@import "~bootstrap/dist/css/bootstrap.min.css";
@import "assets/styles/_colors.scss";

@font-face {
  font-family: "MyCustomFont";
  src: url("./assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Bolder";
  src: url("./assets/fonts/Kanit/Kanit-ExtraBold.ttf") format("truetype");
}

html,
body {
  font-family: "MyCustomFont";
  margin: 0;
  padding: 0;
  touch-action: pan-x pan-y;
  background-color: $gris-claro;
  color: $gris-oscuro;
}

a {
  color: #607381;
  text-decoration: none;

  &:hover {
    color: $azul-medio;
  }
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
  }

  th {
    background-color: $gris-oscuro;
    color: white;
  }

  tr:hover {
    background-color: #607381;
    color: black;
  }
}
