<app-spinner
  *ngIf="loading"
  class="spinner position-absolute top-50 start-50 translate-middle"
></app-spinner>
<div *ngIf="!loading" class="container">
  <h1>Filtrar Jugadores NBA</h1>

  <div class="col align-items-center"></div>
  <app-filtrar
    #filters
    (catSelected)="categoriaSeleccionada()"
    (confSelected)="conferenciaSeleccionada()"
    (posSelected)="posicionSeleccionada()"
    class="col"
  ></app-filtrar>

  <div *ngIf="jugadoresFiltrados.length > 0" class="container">
    <app-player-table
      [jugadoresFiltrados]="jugadoresFiltrados"
    ></app-player-table>
  </div>
</div>
