@import './../../../assets/styles/_colors.scss';

.cnt-all-players {
  width: 100%;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.bg-color {
  background-color: var(--bgColor);
}

.pagination {
  justify-content: center;
}

.icon-button {
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: var(--gris-claro);
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
}

.logout {
  background-image: url("./../../../assets/icons/filter-svgrepo-com.svg");
}
