<div class="container">
  <h1>Filtrar Jugadores NBA</h1>

  <!-- <form class="form-group row align-items-end"> -->
  <div class="col align-items-center">
    <!-- TODO: tiene que irse a la pagina de mostrar información de cada equipo-->
    <!-- <div *ngIf="jugadoresFiltrados.length==0">
        <h1>Seleccione un Equipo</h1>
      </div>
      <label for="conferenciaSelect">Equipo:</label>
      <select class="form-control" id="equipoSelect" [(ngModel)]="nombreEquipoSeleccionado"
        (ngModelChange)="filtrarPorEquipo()" name="first">
        <option value="" disabled hidden>Please choose one</option>
        <option *ngFor="let equipo of equipos"> {{equipo.Name}} </option>
      </select>
    </div> -->
    <app-filtrar class="col"></app-filtrar>
    <!-- </form> -->




    <div *ngIf="jugadoresFiltrados.length>0" class="container">
      <h1>Lista de Jugadores</h1>
      <app-spinner *ngIf="loading" class="spinner position-absolute top-50 start-50 translate-middle"></app-spinner>
      <table *ngIf="!loading" class="table table-bordered ">
        <tr class="bg-color">
          <th>#</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Posicion</th>
          <th>Origen</th>
        </tr>
        <tr *ngFor="let jugador of jugadoresFiltrados | paginate: { itemsPerPage: 30, currentPage: p }">
          <td>{{ jugador.Jersey }}</td>
          <td>{{ jugador.FirstName }}</td>
          <td>{{ jugador.LastName }}</td>
          <td>{{ jugador.Position }}</td>
          <td>{{ jugador.BirthCountry }}</td>
        </tr>
      </table>

      <div *ngIf="!loading" class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

    </div>


  </div>
